:host:after {
  content: "";
}

:host:before {
  content: "";
}

:host:hover {
  background: red;
}

:host:pseudo-class {
  background: green;
}

:host.class-selector {
  background: blue;
}

:host:hover .child-class {
  background: orange;
}

.foo:hover {
  background: yellow;
}

:host(:hover) {
  background: aqua;
}

:host(.className) {
  background: white;
} 

:host(custom-element) {
  background: black;
}
